.card-login {
  // border: 2px solid white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: 5rem;
  color: white;
  background-color: rgba($color: black, $alpha: 0.1);
  .formGroup-custom {
    width: 50vh;
    .spanErrorMessage {
      color: red;
      text-decoration: solid;
    }
  }
  .button-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
